<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    </head>
    <body>
        <div id="app"></div>
        <script>


        Vue.use(VueRouter);

        var Test = {
        template: `
		<div>我是测试组件</div>
    	`
    }

    var User={
            data(){
                return {
                    user:'',
                    error:null,
                    num:0,
                    msg:'',
                    msg1:'',
                    confirm:true

                }
                
            },
            template:`
                <div>
                    <div>{{num}}</div>
                    <input type="text" v-model="msg">
                    <p>{{msg1}}</p>
                    <button @click="save">保持</button>
                        <div v-if='error' class='error'>{{error}}</div>
                        <div class='user' v-if='user'>
                            <h2>{{user}}</h2>
                        </div>
                    </div>
                `,
                methods:{
    		setDatas(user){
    			this.user  = user;

    		},
    		setError(err){
    			this.error = err;
            },
            save(){
                this.msg1=this.msg;
                this.msg='';
                this.confirm=true;
            }
        },
        created(){
            //注册一个定时器，如果切换路由时不清除定时器会一直执行
            this.timer=setInterval(()=>{
                console.log(this.num);
                this.num+=1;

            },1000);
        },
        beforeRouteEnter(to, from, next) {
            // 在渲染该组件的对应路由被 confirm 前调用
            // 不！能！获取组件实例 `this`
            // 因为当守卫执行前，组件实例还没被创建
            console.log(to);
            axios.get(`http://127.0.0.1:8888/user/${to.params.id}`)
            .then(res=>{
            	next(vm=>vm.setDatas(res.data));
            })
           .catch(err=>{
            	next(vm => vm.setError(err))
            })

        },
        beforeRouteUpdate(to, from, next) {
        	console.log(to)
            // 在当前路由改变，但是该组件被复用时调用
            // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
            // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
            // 可以访问组件实例 `this`

            this.user = null;

            this.$axios.get(`http://127.0.0.1:8888/user/${to.params.id}`)
            .then(res=>{
            	this.setDatas(res.data);
            	next();
            })
            .catch(err=>{
            	this.setError(err);
            	   next();
            })
         
        },
                beforeRouteLeave (to, from, next) {
                    // 导航离开该组件的对应路由时调用
                    // 可以访问组件实例 `this`
                    console.log('离开了');
                    clearInterval(this.timer);
                    if(this.confirm==true&&this.msg){
                        //一开始用户输入了内容没保存，需要提示用户保存
                        this.confirm=confirm('请保存信息');
                        next(false);//先不跳转仍在当前组件
                    }else if(this.confirm==false){
                        //点了取消
                        alert('请保存次信息后退出');
            	        next(false);
                    }else{
                        //保存了内容便清空，msg空且confirm是true即保存了，可以放行
                        next();
                    }
                    
                }
        }


        var router = new VueRouter({
        routes: [ {
            path: '/test',
            name: 'test',
            component: Test
        },{
            path: '/user/:id',
            name: 'user',
            component: User
        }]
    });

        

       
        var App={
            template: `
				<div>
					<router-link :to = "{name:'test'}">测试</router-link>
					<router-link :to = "{name:'user',params:{id:1}}">我的用户1</router-link>
					<router-link :to = "{name:'user',params:{id:2}}">我的用户2</router-link>

						<router-view></router-view>


				</div>
			`
    }
    Vue.prototype.$axios=axios;
    new Vue({
        el: "#app",
        data: {

        },
        components: {
            App
        },
        template: `<App />`,
        router
    });
    </script>
    </body>
</html>