<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>
<body>
    <div id="app"></div>
    <script>
        var Index={
            template:`<div>我是首页</div>`,
        }
        var Post={
            data(){
                return {
                    loading:false,
                    error:null,
                    post:null //请求的数据，要实现如果在请求时卡了展示loading
                }
            },
            template:`
                <div>
                    <div class='loading' v-if='loading'>
                        loading...
                        </div>
                        <div class='error' v-if='error'>
                            {{error}}
                        </div>
                        <div class='content' v-if='post'>
                            <h2>{{post.title}}</h2>
                            <p>{{post.body}}</p>
                        </div>
                </div>
            `,created(){
				// 组件创建完成后获取数据
				// 此时data已经被监听了
				this.fetchData();//为了获取数据

			}
            ,watch: {
                '$router':'fetchData'
            }
            ,methods: {
                fetchData(){
                    this.error=null;
                    this.post=null;
                    this.loading=true;
                    this.$axios.get('http://127.0.0.1:8888/post')
                    .then(res=>{
                        this.loading=false;
                        console.log(res.data);
                        this.post=res.data;
                    })
                    .catch(err=>{
                        this.error=err.toString();
                    })
                }
            },
        }

        var App={
            template:`
                <div>
                        <router-link :to = "{name:'index'}">首页</router-link>
                        <router-link :to = "{name:'post'}">我的博客</router-link>
                        <router-view></router-view>
                </div>
            `
        }

        var router = new VueRouter({
			routes:[
				{
					path:'/index',
					name:'index',
					component:Index
				},
				{
					path:'/post',
					name:'post',
					component:Post
				}
			]
		});

        Vue.prototype.$axios=axios;
    new Vue({
        el: "#app",
        
        components: {
            App
        },
        template: `<App />`,
        router
    });
    </script>
</body>
</html>